<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831710394729-52k6uo1h8i2ppbmoj5fi8bcu6u0lnrs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831710394729-52k6uo1h8i2ppbmoj5fi8bcu6u0lnrs2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831710394729-dmlk513tt2ktejfsvp6fktl00odcja9c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSPUAMbtTuVPTjOGQTWngSLG7VziIBaYE</string>
	<key>GCM_SENDER_ID</key>
	<string>831710394729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kashif</string>
	<key>PROJECT_ID</key>
	<string>cashif-bfd08</string>
	<key>STORAGE_BUCKET</key>
	<string>cashif-bfd08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831710394729:ios:34e61bb5abe516a5bea5f8</string>
</dict>
</plist>